body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
    display: flex;
    margin: 7px;
    gap: 15px;
}

header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
}



#one {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}


.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 400px;
    gap: 5px;
}

.text {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
    margin: 0px;
}

.secondary {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
    text-align: left;
    margin: 0px;
}

.signup {
    background-color: #3882f6;
    color:#f9faf8;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    flex: 0 0 auto;
}

.image {
    width: 400px;
    height: 200px;
    background-color: gray;
    color: #f9faf8;
    text-align: center;
    align-content: center;
}

#two {
    background-color: #f9faf8;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.title {
    font-size: 36px;
    font-weight: 900px;
    color: black;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    font-weight: 100px;
}

.square {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height:auto;
    text-align: center;
    align-content: center;
    justify-content: center;

}

#square {
    width: 100px;  
    height: 100px; 
    border-color: #3882f6;
    border-style: solid;
    border-radius: 5px;
    margin: 0px;
    align-self: center;
}

#three {
    background-color: #e5e7eb;
    justify-content: center;
    align-content: center;
    text-align: justify;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300px;
    font-style: italic;
}

