body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul, .secondary {
    list-style: none;
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
    display: flex;
    margin: 7px;
    gap: 15px;
}

header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 20px;
}



#one {
    display: flex;
    justify-content: left;
}

.content {
    display: flex;
    flex-flow: column wrap;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    width: 500px;
}

button {
    background-color: #3882f6;
    color:#f9faf8
}

